<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <title th:text="#{services.page.title}"></title>
</head>
<body>

<nav th:replace="fragments/navbar :: navbar('services')">Navbar</nav>

<!--/*@thymesVar id="currentUser" type="com.nixmash.blog.jpa.model.CurrentUser"*/-->
<!--/*@thymesVar id="currentUserConnection" type="com.nixmash.blog.jpa.model.UserConnection"*/-->

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1 th:text="#{services.page.header}">[Services]</h1>
                <p class="lead" th:text="#{services.page.subheader}">[Services Services Services!]</p>
            </div>
            <div th:replace="fragments/sponsor :: [id='sponsor']">Sponsor Image</div>
        </div>
    </div>

</div>
<div class="container bs-container big-font-container">
    <div class="row row-centered">
        <div class="container services-block">
            <p>What I know is what I do. And what I do is on my blog. My credentials follow, as listed among various
                areas of development and technologies.</p>

            <p class="clearfix"></p>

            <p class="text-after-link-image">I use the following proven technologies, all of which have stood the test
                of time and see increasing popularity in the development community:</p>

            <div class="service-sections">
                <div class="service-section">
                    <div class="service-image">
                        <img src="/x/pics/services/checklist.png" alt=""/>
                    </div>
                    <div class="service-posts">
                        <ul>
                            <li><a href="#">This is the first post about xsomething</a></li>
                            <li><a href="#">Second post better than the first</a></li>
                            <li><a href="#">More than mildly interesting as anyone would tell you</a></li>
                            <li><a href="#">Confirming the coolness of the tech and the man behind it</a></li>
                            <li><a href="#">Still awesome as the day progresses and the career winds down</a></li>
                        </ul>
                        <div class="service-posts-more"><a href="#">37 more</a></div>
                    </div>
                </div>
                <div class="service-section">
                    <div class="service-image">
                        <img src="/x/pics/services/checklist.png" alt=""/>
                    </div>
                    <div class="service-posts">
                        <ul>
                            <li><a href="#">This is the first post about xsomething</a></li>
                            <li><a href="#">Second post better than the first</a></li>
                            <li><a href="#">More than mildly interesting as anyone would tell you</a></li>
                            <li><a href="#">Confirming the coolness of the tech and the man behind it</a></li>
                            <li><a href="#">Still awesome as the day progresses and the career winds down</a></li>
                        </ul>
                       <div class="service-posts-more"><a href="#">37 more</a></div>
                    </div>
                </div>
            </div>

            <ul>
                <li>Java</li>
                <li>Linux as the Server Platform</li>
                <li>Spring Framework, the Bootique Java Framework, and Apache Wicket</li>
                <li>Jersey and Jackson for REST distribution, binding and consumption</li>
                <li>Maven and Gradle for Application Builds</li>
                <li>Apache Solr Search Engine</li>
                <li>MySQL Primarily for database support, but also PostgreSQL and H2</li>
                <li>Git for Version Control with accounts on both GitHub and Bitbucket</li>
                <li>FreeMarker for HTML and Email Templating</li>
                <li>Mustache and Thymeleaf for Web Page Templating</li>
                <li>Bootstrap for Responsive and Mobile Theming</li>
                <li>JQuery and JavaScript when required for client-side web page functions</li>
            </ul>

            <p>See my contact page if I can help you with a Java Project or for help leveraging Linux and Open Source
                technologies in your organization.</p>

            <p>Peace.</p>
        </div>
    </div>
    <nav th:replace="fragments/secinfo :: [id='secInfo']">User Info</nav>
</div>
<div th:include=" fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
<div th:include="fragments/alerts :: [id='alerts']" th:remove="tag">Alerts</div>

</body>
</html>
