<configuration>
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- To enable JMX Management -->
	<jmxConfigurator />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%.-1level|MVC|%-30.30logger{0}|%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.nixmash.blog.mvc" level="trace" />
	<logger name="com.nixmash.blog.jsoup" level="info" />
	<logger name="com.nixmash.blog.jpa" level="info" />
	<logger name="com.nixmash.blog.solr" level="info" />
	<logger name="org.thymeleaf" level="off" />
	<logger name="org.hibernate" level="off" />
	<logger name="org.springframework" level="warn" />
	<logger name="org.freemarker" level="off" />
	<logger name="org.apache.tomcat.jdbc" level="info" />
	<logger name="org.freemarker" level="off" />
	<logger name="org.ehcache" level="off" />
	<logger name="com.github.dandelion" level="off" />
	<logger name="org.eclipse.jetty" level="off" />

	<!--<include resource="logToFile.xml" />-->

	<root level="info">
		<appender-ref ref="console" />
	</root>
</configuration>
