<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">


<div th:fragment="functions(currentPath)">

    <script th:inline="javascript">
        /*<![CDATA[*/

        /* Sidebar Menu active class */
        $(document).ready(function () {
            $(function () {
                var path = [[${currentPath}]];
                $('#sidebar-menu a[href="' + path + '"]').parent('li').addClass('current-page');
                $('#sidebar-menu a').filter(function () {
                    return this.pathname == path;
                }).parent('li').addClass('current-page').parent('ul').slideDown().parent().addClass('active');
            });
        });

        /*]]>*/
    </script>

</div>

<div th:fragment="carousel">
    <script th:inline="javascript">
        /*<![CDATA[*/

        $('.carousel').carousel({
            interval: false
        });

        $('#pagepreview-carousel').on('slide.bs.carousel', function (e) {
                    var imageIndex = $('#pagepreview-carousel').find('.active')
                            .index('#pagepreview-carousel .item');
                    var imageCount = [[${pagePreview.getImages().size() - 1 }]];

                    if (e.direction == "left") {
                        if (imageIndex == imageCount)
                            $('#imageIndex').val(0);
                        else
                            $('#imageIndex').val(imageIndex + 1);
                    }
                    else {
                        if (imageIndex == 0)
                            $('#imageIndex').val(imageCount);
                        else
                            $('#imageIndex').val(imageIndex - 1);
                    }
                }
        );

        $(document).ready(function () {

            if (!String.format) {
                String.format = function (format) {
                    var args = Array.prototype.slice.call(arguments, 1);
                    return format.replace(/{(\d+)}/g, function (match, number) {
                        return typeof args[number] != 'undefined'
                                ? args[number]
                                : match
                                ;
                    });
                };
            }

        });

        /*]]>*/
    </script>
</div>
</html>














