<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--/*@thymesVar id="moreLikeThisHeading" type="java.lang.String"*/-->


<div th:fragment="morelikethis" id="morelikethis">
    <h2 th:text="${moreLikeThisHeading}">[More like this]</h2>
    <div id="mlts"></div>
    <script th:inline="javascript">

        /*<![CDATA[*/

        var baseUrl = "/json/posts/post/mlt/";
        var postId = [[${postId}]];

        $.get(baseUrl + postId, function (data) {
            $("#mlts").replaceWith(data);
        });

        /*]]>*/

    </script>
</div>
</body>
</html>
