<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/highlight/github.css}"/>
    <script th:src="@{/js/highlight.pack.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.lightbox.css}"/>
    <title th:text="|#{post.page.title.prefix(${post.postTitle})}|">[Page Title]</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('posts')">Navbar</nav>

<!--/*@thymesVar id="post" type="com.nixmash.blog.jpa.model.Post"*/-->
<!--/*@thymesVar id="postCreated" type="java.util.Date"*/-->
<!--/*@thymesVar id="PostType" type="com.nixmash.blog.jpa.enums.PostType"*/-->
<!--/*@thymesVar id="image" type="com.nixmash.blog.jpa.model.PostImage"*/-->
<!--/*@thymesVar id="singleImage" type="com.nixmash.blog.jpa.model.PostImage"*/-->

<div class="container">
    <div class="page-header" id="banner">
        <div class="row post-header-row">
            <div th:replace="fragments/sponsor :: [id='sponsor']">[sponsor image]</div>
            <div class="col-lg-12">
                <h1 th:text="${post.postTitle}" class="post-title">[post title]</h1>
            </div>
        </div>
    </div>
</div>
<div class="container bs-container">
    <div class="row row-centered" id="post">
        <div class="bs-section col-lg-12 col-centered">
            <div id="message-holder">
                <div th:if="${feedbackMessage}" th:class="'messageblock hidden'"
                     th:utext="${feedbackMessage}"></div>
            </div>
            <div id="post-photo" th:if="${post.displayType.name() == 'SINGLEPHOTO_POST'}">
                <div th:if="${post.singleImage != null}" th:remove="tag">
                    <a th:href="|${post.singleImage.url}${post.singleImage.newFilename}|">
                        <img th:src="|${post.singleImage.url}${post.singleImage.newFilename}|" alt="Click to view the lightbox"
                             class="post-photo-single"/>
                    </a>
                </div>
            </div>
            <div id="post-body" th:utext="${post.postContent}">
            </div>
            <div id="post-photos" th:if="${post.displayType.name() == 'MULTIPHOTO_POST'}">

                <div th:each="image : ${post.postImages }" th:remove="tag">
                    <a th:href="|${image.url}${image.newFilename}|">
                        <img th:src="|${image.url}${image.newFilename}|" alt="Click to view the lightbox"
                             class="post-photo-thumbnail"/>
                    </a>
                </div>

            </div>

            <div th:replace="fragments/posts/postfooter :: postfooter">[POST FOOTER]</div>

            <div th:replace="fragments/posts/morelikethis :: morelikethis" th:if="${moreLikeThisDisplay}">[MORE LIKE THIS]</div>

            <div class="permalink-close">
                <a href="/posts" class="btn btn-primary" th:text="#{posts.permalink.page.return}">[Return to Posts]</a>
            </div>

        </div>
    </div>
    <nav th:replace="fragments/secinfo :: [id='secInfo']">User Info</nav>
</div>
<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">[scripts]</div>
<div th:include="fragments/alerts :: [id='alerts']" th:remove="tag">Alerts</div>

<script th:src="@{/js/jquery.lightbox.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    $('pre code').each(function (i, block) {
        hljs.highlightBlock(block);
    });

    $(function () {
        $('#post-photos a').lightbox();
        $('#post-photo a').lightbox();
    });

    /*]]>*/
</script>

</body>
</html>
