<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <title>NixMash Spring Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/github.css}"/>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('home')">Navbar</nav>
<div th:replace="fragments/jumbotron :: jumbotron_one">Home Page Jumbotron</div>
<div th:replace="fragments/jumbotron :: jumbotron_two">What We Do Jumbotron</div>

<!--/*@thymesVar id="post" type="com.nixmash.blog.jpa.model.Post"*/-->
<!--/*@thymesVar id="posts" type="List<com.nixmash.blog.jpa.model.Post>"*/-->

<div th:if="${posts}" th:remove="tag">
    <div class="container home-posts">
        <div class="row home-post-blockquote">
            <blockquote>
                <p>
                    Most recent NixMash Posts and Links
                </p>
                <small th:each="post : ${posts}">
                    <a th:href="@{|/post/${post.postName}|}" th:text="${post.postTitle}">[post]</a>
                </small>
                <div class="home-posts-link">
                    <a href="/posts" class="btn btn-primary">View Posts Stream</a>
                </div>
            </blockquote>
        </div>
    </div>
</div>

<div class="container">
    <nav th:replace="fragments/secinfo :: [id='secInfo']">User Info</nav>
</div>
<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
</body>
</html>
