<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
    <title>NixMash Spring Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/github.css}"/>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar('home')">Navbar</nav>
<div th:replace="fragments/jumbotron :: .jumbotron">Home Page Jumbotron</div>

<!--<div th:if="${currentUser == null}" class="container">-->
    <!--<div class="row social-button-row">-->
        <!--<div class="col-lg-7">-->
            <!--<form name="fb_signin" id="fb_signin" th:action="@{/signin/facebook}" method="POST">-->
                <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>-->
                <!--<input type="hidden" name="scope" value="email,user_posts,user_photos,user_friends"/>-->
                <!--<button type="submit" class="btn btn-facebook">-->
                    <!--<i class="fa fa-facebook"></i><span> | </span><span th:text="#{label.facebook.sign.in.button}">[Sign In with Facebook]</span>-->
                <!--</button>-->
            <!--</form>-->
            <!--<form id="tw_signin" th:action="@{/signin/twitter}" method="POST">-->
                <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>-->
                <!--<button type="submit" class="btn btn-twitter">-->
                    <!--<i class="fa fa-twitter"></i><span> | </span><span th:text="#{label.twitter.sign.in.button}">[Sign In with Twitter]</span>-->
                <!--</button>-->
            <!--</form>-->
            <!--<form id="gl_signin" th:action="@{/signin/google}" method="POST">-->
                <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>-->
                <!--<input type="hidden" name="scope"-->
                       <!--value="https://www.googleapis.com/auth/plus.login-->
						   					<!--https://www.googleapis.com/auth/plus.me"/>-->
                <!--<button type="submit" class="btn btn-google">-->
                    <!--<i class="fa fa-google"></i><span> | </span><span th:text="#{label.google.sign.in.button}">[Sign In with Google]</span>-->
                <!--</button>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div th:if="${connectionWelcomeMessage}" class="container">-->
    <!--<div th:with="provider=${currentUserConnection.providerId},-->
				<!--capProvider=${#strings.capitalize(currentUserConnection.providerId)}">-->
        <!--<div class="row welcome-row">-->
            <!--<div class="col-lg-12">-->
                <!--Thank you for creating a Site Account with <span th:text="${capProvider}">[provider]</span>.-->
                <!--In the future, please use the <span th:class="|btn-sm btn-${provider}|">-->
					<!--<i th:class="|fa fa-${provider}|"></i> |-->
					<!--<span th:text="#{|label.${provider}.sign.in.button|}">[Sign In with Provider]</span>-->
					<!--</span> &nbsp;buttons for one-click Sign In!-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--/*@thymesVar id="post" type="com.nixmash.blog.jpa.model.Post"*/-->
<!--/*@thymesVar id="posts" type="List<com.nixmash.blog.jpa.model.Post>"*/-->

<div th:if="${posts}" th:remove="tag">
    <div class="container home-posts">
        <div class="row">
            <blockquote>
                <p>
                    Most recent NixMash Posts and Links
                </p>
                <small th:each="post : ${posts}">
                    <a th:href="@{|/posts/post/${post.postName}|}" th:text="${post.postTitle}">[post]</a>
                </small>
                <div class="home-posts-link">
                    <a href="/posts" class="btn btn-primary">View NixMash Spring Posts</a>
                </div>
            </blockquote>
        </div>
    </div>
</div>

<div class="container">
    <nav th:replace="fragments/secinfo :: [id='secInfo']">User Info</nav>
</div>
<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
</body>
</html>
