<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="home_about" class="home_about">
    <div class="container">

        <h2>About Us</h2>

        <blockquote>
            <p>NixMash is short for Linux Mashup, or all things Linux. Just as Linux is Open Source, the applications we build use Java, the Spring Framework, Gradle, MySQL and PostgreSQL, Apache Solr, Git, and other Open Source technologies.</p>
            <p>Our business is building custom websites based on our <strong>NixMash Spring</strong> <a href="https://github.com/mintster/spring-data">Open Source application.</a> Security, Social Login, User Administration, Email Services, SEO Tracking, RSS, Searching...it's already baked in. We spent nearly 2 years building <strong>NixMash Spring,</strong> so when you build your site with us you get all of that work for free. Look at <a href="http://parasitewonders.com/">the great site</a> we built for our client Dr. Bobbi Pritt of the Mayo Clinic as an example.  In fact, <em>this</em> site was built on <strong>NixMash Spring,</strong> and you can download the source code <a href="https://github.com/mintster/nixmash-blog">from GitHub.</a></p>
            <p>NixMash was founded by Dave Burke who has over 30 years of development experience in a variety of industries and environments. Think of NixMash as "Dave Burke and Friends." At NixMash you'll never have to deal with some Salesperson or Manager, but can work directly with Dave or the virtual team developers and designers personally responsible for your project.</p>
        </blockquote>

    </div>
</div>

</body>
</html>