<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="home_about" class="home_about">
    <div class="container">

        <h2>About NixMash</h2>

        <blockquote>
            <p>NixMash is short for Linux Mashup, or all things Linux. Just as Linux is Open Source, the applications we
                build use Java, the Spring Framework, Gradle, MySQL, Apache Solr, Git, and other Open Source
                technologies. You can read how we use those technologies in our blog.</p>
            <p>Our business model is building custom websites based on our <strong>NixMash Spring</strong> <a
                    href="https://github.com/mintster/spring-data">Open Source application.</a> Security, Social Login,
                User Administration, Email Services, SEO Tracking, RSS, Searching...it's all baked in. We spent nearly 2
                years building <strong>NixMash Spring,</strong> so when you build your site with us you get all of that
                work for free. Look at <a href="http://parasitewonders.com/">the great site</a> we built for our client
                Dr. Bobbi Pritt of the Mayo Clinic as an example. In fact, <em>this</em> site was built on <strong>NixMash
                    Spring,</strong> and you can download the source code <a
                        href="https://github.com/mintster/nixmash-blog">from GitHub.</a></p>
            <p>NixMash was founded by Dave Burke who has over 30 years of development experience in a variety of
                industries and environments. Think of NixMash as "Dave Burke and Friends." At NixMash you'll never have
                to deal with some Salesperson or Manager, but can work directly with Dave or the team developers and
                designers personally responsible for your project.</p>
        </blockquote>

    </div>
</div>

<div th:fragment="home_image" class="siteimage_description">
    <!--/*@thymesVar id="siteImage" type="com.nixmash.blog.jpa.model.SiteImage"*/-->
    <a th:href="${siteImage.sourceUrl}" class="siteimage_imagelink" target="_blank">
    <img th:src="|/x/pics/home/thumbnails/${siteImage.imageFilename}|" th:alt="${siteImage.imageDescription}" class="siteimage_thumbnail"/>
    </a>
    <p class="siteimage_info" th:inline="text">
        Today's banner <strong>"[[${siteImage.imageDescription}]]"</strong> was <a th:href="${siteImage.sourceUrl}" class="siteimage_authorlink">created by
        [[${siteImage.imageAuthor}]]</a> and made available under a <a
            href="http://creativecommons.org/licenses/by-nc/3.0/us/">Creative Commons Attribution-Noncommercial
        license.</a>
    </p>
</div>
</body>
</html>