<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="home_about" class="home_about">
    <div class="container">

        <h2>About NixMash</h2>
        <blockquote>
            <p>NixMash is short for Linux Mashup, covering the awesome Open Source technologies I use in Linux as a Java Developer. NixMash went online in February 2013 with over 500 posts published to date.</p>
            <p>My most recent project is <a href="http://listreme.com">Listreme</a>, a Microservice application featuring the most popular tweets of Twitter User Lists.</p>
            <p>Prior to <strong>Listreme</strong> I built <a href="http://parasitewonders.com/">Parasite Wonders</a> for Dr. Bobbi Pritt of the Mayo Clinic. Its code was based on <strong>NixMash Spring,</strong> my Open Source Spring application <a href="https://github.com/mintster/nixmash-spring">on GitHub</a>, with 200+ stars and forked over 100 times.</p><p><a href="/users/contact">Contact me</a> if I can help you with a Java Project or for help leveraging Linux and Open Source technologies in your organization.</p>
        </blockquote>
    </div>
</div>

<div th:fragment="home_image" class="siteimage_description">
    <!--/*@thymesVar id="siteImage" type="com.nixmash.blog.jpa.model.SiteImage"*/-->
    <a th:href="${siteImage.sourceUrl}" class="siteimage_imagelink" target="_blank">
    <img th:src="|/x/pics/home/thumbnails/${siteImage.imageFilename}|" th:alt="${siteImage.imageDescription}" class="siteimage_thumbnail"/>
    </a>
    <p class="siteimage_info" th:inline="text">
        Today's banner <strong>"[[${siteImage.imageDescription}]]"</strong> was <a th:href="${siteImage.sourceUrl}" class="siteimage_authorlink">created by
        [[${siteImage.imageAuthor}]]</a> and made available under a <a
            href="http://creativecommons.org/licenses/by-nc/3.0/us/">Creative Commons Attribution-Noncommercial
        license.</a>
    </p>
</div>
</body>
</html>