<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">

<div th:fragment="summernote">

    <script th:inline="javascript">
        /*<![CDATA[*/

        $(document).ready(function () {

            if (!String.format) {
                String.format = function(format) {
                    var args = Array.prototype.slice.call(arguments, 1);
                    return format.replace(/{(\d+)}/g, function(match, number) {
                        return typeof args[number] != 'undefined'
                                ? args[number]
                                : match
                                ;
                    });
                };
            }


            var JavaButton = function (context) { return makeButton("java", "j"); };
            var JavaScriptButton= function (context) { return makeButton("javascript", "js"); };
            var HtmlButton = function (context) { return makeButton("html", "html"); };
            var CssButton = function (context) { return makeButton("css", "css"); };
            var BashButton = function (context) { return makeButton("bash", "sh"); };
            var ImageButton = function (context) { return makeImageButton(); };

            function makeButton(language, abbrev) {
                var ui = $.summernote.ui;
                var button = ui.button({
                    contents: String.format('<i class="fa fa-{0}"/>', abbrev),
                    tooltip: 'add code block',
                    click: function () {
                        addCodeBlock(language)
                    }
                });

                return button.render();
            }

            function makeImageButton() {
                var ui = $.summernote.ui;
                var button = ui.button({
                    contents: '<i class="fa fa-image"/>',
                    tooltip: 'add image',
                    click: function () {
                        addImageHtml()
                    }
                });

                return button.render();
            }

            function addCodeBlock(language) {
                var node = document.createElement('pre');
                var $editor = $('#summernote');
                $editor.summernote('insertNode', node);

                var code = document.createElement('code');
                document.body.appendChild(code);
                code.className = language;
                code.textContent = language.toUpperCase();
                $editor.summernote('insertNode', code);

            }


            function addImageHtml() {
                var node = document.createElement('img');
                document.body.appendChild(node);
                node.setAttribute("src",  [[${appSettings.getEditorImagePlacemarker()}]]);
                node.setAttribute("alt", "");
                var $editor = $('#summernote');
                $editor.summernote('insertNode', node);
            }

            $('#summernote').summernote({
                minHeight: 200,
                toolbar: [
                    ['first', ['style']],
                    ['style', ['bold', 'italic', 'underline', 'clear', 'strikethrough', 'samp']],
                    ['insert', ['link']],
                    ['para', ['paragraph', 'ul', 'ol']],
                    ['misc', ['codeview', 'undo']],
                    ['codebuttons', ['java', 'js', 'html', 'css', 'sh', 'image']]
                ],
                buttons: {
                    java: JavaButton,
                    js: JavaScriptButton,
                    html: HtmlButton,
                    css: CssButton,
                    sh: BashButton,
                    image: ImageButton
                }
            });


        });

        /*]]>*/
    </script>

</div>
</html>














