<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="jumbotron_one" class="home_jumbotron">
    <div class="container">
        <img th:src="@{'/x/pics/home/nixmash-logo.png'}"/>

        <!--temporary merge comment for git merge script test-->

        <!--/*@thymesVar id="emailVerifiedWelcomeMessage" type="java.lang.Boolean"*/-->
        <div th:if="${emailVerifiedWelcomeMessage}" class="container">
            <div class="row email-approved-row">
                <div class="col-lg-12">
                    Thank you for verifying your Email Address and completing the registration process!<br /><strong><a href="signin.html"  th:href="@{'/signin/'}">Please login</a></strong> with your username and password.
                </div>
            </div>
        </div>

        <!--/*@thymesVar id="showGitHubStats" type="java.lang.Boolean"*/-->
        <div class="row github-buttons" th:if="${showGitHubStats}">
            <div class="col-lg-12">
                <div th:replace="fragments/github :: github">[GitHub Buttons]</div>
            </div>
        </div>

    </div>
</div>

<div th:fragment="jumbotron_two" class="whatwedo_jumbotron">
    <div class="container">

        <h2>Dave Burke on Java, Linux, and the Freedom of Choice</h2>

        <blockquote>
            <small>Independent Developer from Burlington, Vermont</small>
            <small>Linux expertise in flavors of Ubuntu and Linux Mint</small>
            <small>Adherent of Open Source Software licensing and distribution</small>
            <small>Specialist in Java, the Spring Framework and Microservice Applications</small>
        </blockquote>

    </div>
</div>

</body>
</html>